.logo{
  height:10%;
  width:30%;
  
}
.display-repo{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.display-files{
  margin-top: 50px;
  display:grid;
  grid-template-columns:repeat(3,1fr);
}
.display-files>div:nth-child(2){
 
  margin-right:15px;
}